<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="icon" href="{% static 'images/rfq.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery-1.7.2.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <title>最美乡村-登录</title>
</head>
<body>
    <header id="head"><a href="{% url 'indexView' %}" class="return-first"><<返回主页</a></header>
    <div class="login">
        <form method="post" action="{% url 'LoginView' %}">
            <a href="" class="login-up">账号登录</a>
            <lable for="username" class="a">用户名：</lable>
            <input type="text" name="username" placeholder="请输入账号/邮箱..." id="username">
            <lable for="password" class="a">密码：</lable>
            <a href="{% url 'ForgetPwView' %}" class="fogot-pw">忘记密码?</a>
            <input type="password" name="password" placeholder="请输入密码..." class="password">
            <div class="back-error-info">{% for key,errors in login_form.errors.items %}{{ errors }}{% endfor %}{{ error_info }}</div>
            <script>
                var error = $('.back-error-info').text();
                if(error!=""){
                    $('.back-error-info').css('display','block');
                }
            </script>
            <input type="submit" value="登录">
            <a href="{% url 'RegisterView' %}" class="new-count">注册新账号！</a>
            {% csrf_token %}
        </form>
    </div>
    <div class="tip-info"></div>
    <canvas id = "canvas">
</body>
</html>