<!doctype html>
<html>
	{% load staticfiles %}
<head>
    <meta charset="utf-8">
	<link rel="icon" href="{% static 'images/rfq.png' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>美丽乡村专题网站-地图</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0"/>
    <script type="text/javascript"src="http://webapi.amap.com/maps?v=1.3&key=03ada9f6e52e906b27671ebf38529931"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <style type="text/css">
        #panel {
            position: absolute;
            background-color: white;
            max-height: 90%;
            overflow-y: auto;
            top: 20px;
            right: 10px;
            width: 250px;
            border: solid 1px silver;
        }
        #mapContainer{
            width:100%;height:100%;
        }
    </style>
</head>
<body>
<div id="mapContainer"></div>
<div id="panel">
</div>
<span id="adress" style="display:none">{{ adress }}</span>
</body>
</html>